<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar</title>
    <%- include("../partials/header.ejs")%> 
</head>
<body>
    <div class="container">
    <div>
        <h3>Atualizar Carro</h3>
    </div>
    <form action="/carro/<%= carro.placa%>/atualizar" method="post">
        <input type="hidden" name="placa" value="<%= carro.placa %>">
        <div class="mb-3">
            <label class="form-label">Novo nome:</label>
            <input autocomplete="off" required type="text" class="form-control" name="nome" value="<%= carro.nome %>">
        </div>
        <div class="mb-3">
            <label class="form-label">Nova marca:</label>
            <input autocomplete="off" required type="text" class="form-control" name="marca" value="<%= carro.marca %>">
        </div>
        <div class="mb-3">
            <label class="form-label">Placa:</label>
            <input autocomplete="off" disabled required type="text" class="form-control" name="placa" value="<%= carro.placa %>">
        </div>
        <div class="mb-3">
            <label class="form-label">Novo valor:</label>
            <input autocomplete="off" required type="number" class="form-control" name="valor" value="<%= carro.valor %>">
        </div>
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
    <%- include("../partials/footer.ejs")%> 
</div>
</body>
</html>